{
  "reload_style_on_change": true,
  "layer": "top",
  "position": "top",
  "spacing": 0,
  "height": 26,
  "modules-left": ["custom/launcher", "hyprland/workspaces"],
  "modules-center": ["clock"],
  "modules-right": [
    "group/tray-expander",
    "group/info-group",
    "bluetooth",
    "pulseaudio",
    "cpu"
  ],
  "group/info-group": {
    "orientation": "horizontal",
    "modules": [
        "custom/weather",
        "custom/stock",
        "custom/sonarr",
        "custom/network"
    ]
  },
  "hyprland/workspaces": {
    "on-click": "activate",
    "format": "{icon}",
    "format-icons": {
      "default": "",
      "1": "1",
      "2": "2",
      "3": "3",
      "4": "4",
      "5": "5",
      "6": "6",
      "7": "7",
      "8": "8",
      "9": "9",
      "10": "0",
      "active": "󱓻"
    },
    "persistent-workspaces": {
      "1": [],
      "2": [],
      "3": [],
      "4": [],
      "5": []
    }
  },
  "custom/launcher": {
    "format": "  ",
    "on-click": "walker",
    "on-click-right": "kitty",
    "tooltip-format": "Application Launcher"
  },
  "custom/weather": {
    "format": "{}°",
    "tooltip": true,
    "interval": 3600,
    "exec": "wttrbar",
    "return-type": "json"
  },
  "custom/stock": {
    "exec": "~/bin/stocktick.sh",
    "tooltip": true,
    "interval": 3600,
    "format": "󰄪 {}",
    "return-type": "json"
  },
  "custom/sonarr": {
      "exec": "~/bin/sonarrq.sh",
      "return-type": "json",
      "interval": 3600,
      "format": "{icon} {text}",
      "format-icons": {
          "default": "󰑈"
      },
      "tooltip": true
  },
  "custom/network": {
    "exec": "~/bin/network-wired.sh",
    "interval": 2,
    "return-type": "json",
    "format": "{}"
  },
  "cpu": {
    "interval": 5,
    "format": "󰍛 {usage}%",
    "on-click": "kitty btop"
  },
  "clock": {
    "format": "{:%A %h %d | %H:%M}",
    "format-alt": "{:%d %B W%V %Y}",
    "tooltip-format": "<tt><small>{calendar}</small></tt>",
    "calendar": {
      "mode": "year",
      "mode-mon-col": 3,
      "weeks-pos": "right",
      "on-scroll": 1,
      "format": {
        "months": "<span color='#ffead3'><b>{}</b></span>",
        "days": "<span color='#ecc6d9'><b>{}</b></span>",
        "weeks": "<span color='#99ffdd'><b>W{}</b></span>",
        "weekdays": "<span color='#ffcc66'><b>{}</b></span>",
        "today": "<span color='#ff6699'><b><u>{}</u></b></span>"
      }
    }
  },
  "bluetooth": {
    "format": "󰂱 {status}",
    "format-disabled":" 󰂲 OFF",
    "format-off": "󰂲 OFF",
    "format-connected": "󰂱 ON",
    "format-no-controller": "",
    "tooltip-format": "Bluetooth {status}",
    "tooltip-format-connected": "{controller_alias}\n{num_connections} connected\n\n{device_enumerate}",
    "tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
    "tooltip-format-enumerate-connected-battery": "{device_alias}\t{device_address}\t{device_battery_percentage}%",
    "on-click": "blueman-manager"
  },
  "pulseaudio": {
    "format": "{icon} {volume}%",
    "format-muted": "",
    "on-click": "pavucontrol",
    "on-click-right": "pamixer -t",
    "scroll-step": 5,
    "format-icons": {
      "default": ["", "", ""]
    }
  },
  "group/tray-expander": {
    "orientation": "inherit",
    "drawer": {
      "transition-duration": 600,
      "children-class": "tray-group-item"
    },
    "modules": ["custom/expand-icon", "tray"]
  },
  "custom/expand-icon": {
    "format": "",
    "tooltip": false
  },
  "tray": {
    "icon-size": 16,
    "spacing": 10
  }
}
