window {
  color: #f5f5f5;
  background: transparent;
}

#input {
  background: transparent;
  border: none;
  font-size: 32px;
  border-radius: 0;
  padding: 14px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: solid 1px rgba(255,255,255,0.07);
  color: #fafafa;
  font-weight: 500;
}

#input:focus {
  box-shadow: none;
}

#outer-box {
  background: rgba(20,20,20,0.75);
  border-radius: 7px;
  border: solid 1px rgba(255,255,255,0.07);
  padding-bottom: 10px;
}

#entry:selected {
  background: rgba(255,255,255,0.05);
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
}

#entry {
  padding: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 9px;
  font-size: 28px;
  min-height: 60px;
}

#scroll {
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

#img {
  margin-right: 10px;
  -gtk-icon-transform:scale(1.25);
}

#text {
  font-weight: 500;
  opacity: 0.9;
} 

#input > image.right {
  color: rgba(255,255,255,0.5);
}

#input > image.left {
  -gtk-icon-transform:scaleX(0);
  margin-left: -20px;
}
